$base-color: #37FDFC;
$active-color: #F4F776;
$base-gradient: 'glossy';
@import 'sencha-touch/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;

// Your custom code goes here...
@include pictos-iconmask('sign_leftright');
@include pictos-iconmask('settings3');
@include pictos-iconmask('expand');
.x-form-label input[type="checkbox"]{ margin-left: .5em; }
.x-tab-active .x-button-icon {
  background-color: #F4F776!important;
  background-image:none!important;
}
.x-button-label,
.x-title { color: #36648B!important; }
.x-toolbar-dark.x-docked-top { border-bottom-color: #36648B!important; }

.x-button.danger-class {
	background-image: none;
	background-color: red;
	border: 1px solid black;
}
.x-button.danger-class .x-button-label { color: white!important; }
.x-msgbox-title .x-title .x-innerhtml { color: red; text-shadow:none; }
.x-tab .x-button-icon.home {
		-webkit-mask-image: url('../images/robot.png');
}
.x-phone .x-toolbar .x-title { font-size:1em;}
.x-phone .x-toolbar.x-docked-top .x-button { width: 20%; padding:2px;}
.x-phone .x-toolbar.x-docked-top .x-button .x-button-label { font-size: .6em; width:95%; }
.x-phone .x-form-label { font-size: .45em;}
.x-phone .x-form-label { position: relative; }
.x-phone .x-form-label input[type="checkbox"]{ position:absolute; top:.5em; right:.5em; margin-left:0; }


