$base-color: #37FDFC;
$active-color: #F4F776;
$base-gradient: 'glossy';
$answer-color: #c23f2d;
@import 'sencha-touch/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;

// Your custom code goes here...
@include pictos-iconmask('sign_leftright');
@include pictos-iconmask('settings3');
@include pictos-iconmask('expand');
.x-form-label input[type="checkbox"]{ margin-left: .5em; }
.x-tab-active .x-button-icon {
  background-color: #F4F776!important;
  background-image:none!important;
}
.x-button-label,
.x-title { color: #36648B!important; }
.x-title { text-shadow: 1px 1px 1px rgba(178, 234, 248, 1)!important; }
.x-toolbar-dark.x-docked-top { border-bottom-color: #36648B!important; }

.x-button.danger-class {
	background-image: none;
	background-color: red;
	border: 1px solid black;
}
.x-button.danger-class .x-button-label { color: white!important; }
.x-msgbox-title .x-title .x-innerhtml { color: red; text-shadow:none; }
.x-tab .x-button-icon.home {
		-webkit-mask-image: url('../images/robot.png');
}
.x-phone .x-toolbar .x-title { font-size:1em;}
.x-phone .x-toolbar.x-docked-top .x-toolbar-inner > .x-button { width: 20%; padding:2px;}
.x-phone .x-toolbar.x-docked-top .x-toolbar-inner > .x-button .x-button-label { font-size: .6em; width:95%; }
.x-phone .x-form-label { font-size: .7em;}
.x-phone .x-form-label { position: relative; }
.convert-for-it .x-form-label { background-color: #ffffff; border-right: 1px dotted #dddddd }
.convert-for-it.convert-active .x-form-label { background-color: $active-color; }
#inertiaAnswer,#unitsAnswer {
	border: 1px solid #36648B;
	margin: 0;
	padding: 0;
	border-radius: 3px;
}
#inertiaAnswer .x-inner,#unitsAnswer .x-inner {
	background: #cccccc;
	padding: .5em;
	text-align: center;
	font-size: 2.5em;
	color: $answer-color;
}
.x-phone #inertiaAnswer .x-inner, .x-phone #unitsAnswer .x-inner { text-align: left; font-size: 2em; }
#inertiaAnswer .x-inner span.pipe,#unitsAnswer .x-inner span.pipe { color:$active-color; }
#inertiaSolutionWrapper { margin: 0 auto; width: 600px; }
#inertiaSolutionBox { float: left; min-width: 200px; min-height:300px; max-width: 250px; margin-left: 40px; }
#inertiaSolutionBox textarea { min-height:300px; }
#inertiaCanvas { float: left; }
#inertiaCanvas .x-innerhtml { overflow-x: auto; }
.x-phone #inertiaSolutionBox, .x-phone #inertiaCanvas { float: none; margin-left:0px;}
.x-phone #inertiaCanvas { margin-left:-10px; }
#tigerBabyButton {
		z-index: 100;
		position:absolute;
		bottom: 5px;
		right: 5px;
		height: 28px;
		width: 28px;
		background-image: url('../icons/motioncalc/tigerbaby.png');
		background-repeat: no-repeat;
}
#inertiaAnswer ul li { padding: 2px 0px; border-bottom: 1px solid #999999; }
#inertiaAnswer ul li:last-child { border-bottom: none; }
